body {
    color: #e9e915;
 background-color: gray;
}
header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
}

iframe {
    margin-inline-end: auto;
}

section {
    background: silver;
}

